---
---

@import "{{ site.theme }}";

p{
    text-align: justify;
}

ol.bibliography{
    text-indent: -20px;
    list-style-type: none;
    padding-left: 20px;
}

h1>a, h2>a, h3>a, h4>a{
    float: right;
    color: #eee;
}

.right{
    float: right;
}
.site-footer{
    text-align: center;
}
